.m-cart {
  border-top: 1px solid #e7e7e7;
  position: relative;
  .secondary {
    padding: 30px 0;
    width: 100%;
    display: block;
    float: none;
    background: transparent repeat 0 0 none;
    font-size: 13px;
    span:first-child{
       a {
        margin: 0 6px;
        cursor: pointer;
        color: #000;
         &:hover {
           color: #845f3f;
         }
      }
      &::after {
        content: '>';
      }
    }
    span:last-child a {
      color: #999;
      cursor: default;
      margin: 0 6px;
      &:hover {
        color: #845f3f;
      }
    }
  }
  .no-good-container {
    padding-top: 100px;
    padding-bottom: 200px;
    .no-cart {
      text-align: center;
      .img {
        background-image: url('../../assets/image/no-cart.png');
        width: 153px;
        height: 132px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
      }
      .text {
        margin-top: 24px;
        color: #333;
      }
    }
    .btn-wrap {
      text-align: center;
      margin-top: 21px;
      .btn-gobuy {
        color: #666;
        border: 1px solid #666;
        min-width: 97px;
        height: 43px;
        line-height: 41px;
        font-size: 18px;
        display: inline-block;
        border-radius: 2px;
        text-align: center;
        box-sizing: border-box;
        padding: 0 6px;
        transition: all .5s cubic-bezier(0,1,.5,1);
        &:hover {
          color: #fff;
          background-color: #845f3f;
          border-color: #845f3f;
        }
      }
    }
  }
  .recommend-container {
    box-sizing: border-box;
    padding: 15px 0 100px;
    background-color: #f4f4f4;
    .guess-like {
      padding-top: 20px;
      margin-bottom: 20px;
      h2 {
        padding-bottom: 13px;
        font-weight: 400;
        font-size: 24px;
        color: #333;
      }
      .good-list {

      }
    }
  }
}
